<!DOCTYPE html>
<html>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <link rel="stylesheet" href="/public/css/style.css" />

    <title>project</title>
  </head>
  <body>
    <%- include("nav.html") %>
    <div class="main">
      <h1>Graduate project</h1>
      <p>world-reading cj enterproses by accelerating <br />ai technologies</p>
    </div>

    <div class="silde-nav">
      <button type="button" aria-label="이전" class="nav-button prev">
        <i class="fas fa-chevron-left"></i>
      </button>
      <div class="card-indicator">
        <span class="current">01</span>
        <span class="total">/04</span>
      </div>
      <button type="button" aria-label="다음" class="nav-button prev">
        <i class="fas fa-chevron-right"></i>
      </button>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>

    <script
      src="https://kit.fontawesome.com/6478f529f2.js"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
