<!DOCTYPE html>
<html>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <link rel="stylesheet" href="/public/css/style.css" />

    <title>project</title>
  </head>
  <body>
    <%- include("nav.html") %>
    <div class="main">
      <h1>Graduate project</h1>
      <p>world-reading cj enterproses by accelerating <br />ai technologies</p>
    </div>

    <div class="silde-nav">
      <button type="button" aria-label="이전" class="nav-button">
        <i class="fas fa-chevron-left"></i>
      </button>
      <div class="card-indicator">
        <span class="current">01</span>
        <span class="total">/04</span>
      </div>
      <button type="button" aria-label="다음" class="nav-button">
        <i class="fas fa-chevron-right"></i>
      </button>
    </div>

    <div class="box-container">
      <div class="box new-box">
        <p>기술소개 페이지</p>
        <button type="button" class="nav-button small">
          <i class="fas fa-arrow-right"></i>
        </button>
      </div>
      <div class="box">
        <p>기술소개 페이지</p>
        <button type="button" class="nav-button small">
          <i class="fas fa-arrow-right"></i>
        </button>
      </div>
      <div class="box">
        <p>기술소개 페이지</p>
        <button type="button" class="nav-button small">
          <i class="fas fa-arrow-right"></i>
        </button>
      </div>
      <div class="box">
        <p>기술소개 페이지</p>
        <button type="button" class="nav-button small">
          <i class="fas fa-arrow-right"></i>
        </button>
      </div>
    </div>

    <div class="about-screen">
      <div class="about-innner">
        <a href="#">
          <h2 class="about-title-text">ABOUT</h2>
          <div class="about-icon">
            <i class="fas fa-arrow-right"></i>
          </div>
        </a>
        <p>AI 기술로 인사이트를 도출하여 혁신적인 비즈니스를 선도</p>
      </div>
      <div class="about-content">
        <div class="content-inner"></div>
      </div>
    </div>

    <script>
      $(document).ready(function () {
        $(".box").click(function (e) {
          var clickedBox = $(this);

          if (clickedBox.hasClass("new-box")) {
            // .new-box 클래스가 이미 적용된 경우
            clickedBox.removeClass("new-box");
          } else {
            // .new-box 클래스가 적용되지 않은 경우
            $(".box").removeClass("new-box"); // 다른 .box 요소에서 .new-box 클래스 제거
            clickedBox.addClass("new-box");
          }

          // .new-box 클래스의 CSS 속성 변경
          $(".box").each(function () {
            var box = $(this);
            var isBoxNew = box.hasClass("new-box");

            box.find("p").css("color", isBoxNew ? "black" : "white");
            box.find(".nav-button.small").css({
              color: isBoxNew ? "black" : "white",
              border: isBoxNew ? "1px solid black" : "1px solid white",
            });
          });
        });
      });
    </script>

    <script
      src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>

    <script
      src="https://kit.fontawesome.com/6478f529f2.js"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
