<body>
  <nav class="navbar">
    <div class="navbar-left">
      <a href="#" class="navbar-logo">졸업작품</a>
    </div>
    <ul class="navbar-menu">
      <div class="navbar_list">
        <li><a href="#">TECH</a></li>
        <li><a href="#">ABOUT US</a></li>
        <li><a href="#">SOLAR MAP</a></li>
        <li><a href="#">SERVICE</a></li>
      </div>
    </ul>
    <div class="navbar-right">
      <button class="new-button">
        <i class="fas fa-bars"></i>
      </button>
    </div>
  </nav>
  <div class="modal-container">
    <div class="modal-main">
      <div class="modal-content">
        <a href="#" class="navbar-logo">졸업작품</a>
        <button class="new-button close">
          <i class="fas fa-times"></i>
        </button>
      </div>
      <div class="modal-body">
        <ul class="modal-body-list">
          <li class="modal-body-item">
            <a href="#">ABOUT</a>
            <ul class="list">
              <li>
                <a>INSTRODUCTION</a>
              </li>
            </ul>
          </li>
          <li class="modal-body-item">
            <a href="#">RESEARCH</a>
            <ul class="list">
              <li>
                <a>RESEARCH FIELD</a>
                <a>BEST PRACTICE</a>
                <a>PUBLICCATION</a>
              </li>
            </ul>
          </li>
          <li class="modal-body-item">
            <a href="#">STORY</a>
            <ul class="list">
              <li>
                <a>NEWS</a>
                <a>ARTICLE</a>
              </li>
            </ul>
          </li>
          <li class="modal-body-item">
            <a href="#">CAREERS</a>
            <ul class="list">
              <li>
                <a>JOBS</a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <script
    src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"
  ></script>

  <script>
    window.addEventListener("scroll", function () {
      var navbar = document.querySelector(".navbar");

      if (window.scrollY > 100) {
        navbar.classList.add("navbar-scroll");
      } else {
        navbar.classList.remove("navbar-scroll");
      }
    });

    $(document).ready(function () {
      $(".new-button").click(function () {
        $(".modal-container").css("display", "block");
      });
    });

    $(document).ready(function () {
      $(".new-button").click(function () {
        $(".modal-container").css("display", "block");
      });
    });

    $(document).ready(function () {
      $(".close").click(function () {
        $(".modal-container").css("display", "none");
      });
    });
  </script>

  <script
    src="https://kit.fontawesome.com/6478f529f2.js"
    crossorigin="anonymous"
  ></script>
</body>
